.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  
    .farmer-link {
      font-weight: bold;
      color: #013220;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  
    .product-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
    }
  
    .product-title {
      margin: 0.5rem 0;
      font-size: 1.2rem;
      font-weight: bold;
      color: #333;
    }
  
    .product-price {
      color: #555;
    }
  }
  