.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #013220;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed; /* Keeps the footer always visible at the bottom */
  bottom: 0; /* Positions it at the bottom of the viewport */
  left: 0; /* Aligns it with the left edge */
  width: 100%; /* Stretches the footer to the full width */
  height: 5%; /* Makes the footer 10% of the viewport height */
  z-index: 1000; /* Ensures it stays above other elements */

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 20px;

    .footer-link,
    .basket {
      /* Apply similar styles to both links and the basket button */
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      margin: 0 15px;
      background: none; /* Removes default button styling */
      border: none; /* Removes default button border */
      cursor: pointer; /* Changes cursor to pointer for buttons */
      transition: color 0.3s, transform 0.3s;

      &:hover {
        color: #b5f3b5;
        transform: scale(1.15); /* Slight scaling effect */
      }
    }
  }
}
